{% block body %}
<head>
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/public/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('bundles/public/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('bundles/public/vendors/nprogress/nprogress.css" rel="stylesheet')}}">
    <!-- Animate.css -->
    <link href="{{ asset('bundles/public/vendors/animate.css/animate.min.css')}}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('bundles/public/build/css/custom.min.css')}}" rel="stylesheet"> 
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/public/images/icono.png') }}" />
    <title>Editorial Laboratorio Educativo</title>
    {% endblock %}
  </head>
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <img src="{{ asset('bundles/public/images/Editorial/Logotipos/banner.png')}}" width="400" height="150" style="display:block;margin:auto;"><hr />
      <div class="login_wrapper">
        <div class="animate form login_form">
              <section class="login_content">
                  <h1>Inicio de sesión</h1>
            <form action="{{ path('login') }}" method="post">
              <div>
                <input type="text" id="username" name="_username"  value="{{ last_username }}" class="form-control" placeholder="Usuario" required autofocus />
              </div>
              <div>
                <input type="password" name="_password" id="password" class="form-control" placeholder="Contraseña" required/>
              </div>
              <input type="hidden" name="_target_path" value="portada"/>
              <div>
                <button type="submit" class="btn btn-default submit">Ingresar</button> 
              </div>
              {% if error %}
              <div class"text-danger">
                <p>
                  <strong>
                    {{ error.messageKey|trans(error.messageData, 'security')}}
                  </strong>
                </p>
              </div>
              {% endif %}
            </form>
            <div class="clearfix"></div>

            <div class="separator">
                <a href="{{ path('user_new') }}" class="to_register"> Crear Cuenta </a><br>
                <a class="to_register" href="#">¿Olvidó su contraseña?</a>
            </div>

              <div class="clearfix"></div>
              <br />

              <div>
                <p>Todos los derechos reservados</p>
              </div>
          </section>
        </div>
      </div>
    </div>
  </body>
 {% endblock %} 
