{% extends 'base.html.twig' %}
{% block title %} Registro de Clientes {% endblock %}
{% block body %}
<h3 align="center"> Registro de Clientes  </h3>
<hr />
{{ form_start(form, { 'attr': {'id':'cliente','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(form) }}

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">{{ form_label(form.nombre) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.nombre) }}                
                {{form_widget(form.nombre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="apellido">{{ form_label(form.apellido) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.apellido) }}                
                {{form_widget(form.apellido,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="correo">{{ form_label(form.correo) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.correo) }}                
                {{form_widget(form.correo,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usuario">{{ form_label(form.usuario) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.usuario) }}                
                {{form_widget(form.usuario,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clave">{{ form_label(form.clave) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.clave) }}                
                {{form_widget(form.clave,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pais">{{ form_label(form.pais) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(form.pais) }}                
                {{form_widget(form.pais,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>

<table>
<tr>
<th>             
    <button type="submit" class="btn btn-success">Registrar</button>
</th> 
<th>             
    <a href="{{ path('cliente_index') }}"><input type="button" class="btn btn-primary" value="Volver"></a>
</th>   
<tr> 
</table> 
        {{ form_end(form) }}                           
    </div>
{% endblock %}
