{% extends 'base.html.twig' %}
{% block title %} Ver Cliente {% endblock %}
{% block body %}
<h3 align="center"> Ver Cliente  </h3>
<hr />
{% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success"> {{ msg }} </div>       
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endfor %}
<!-- page content -->
    <div class="x_content">                   
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ cliente.apellido }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ cliente.correo }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ cliente.usuario }}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td>{{ cliente.clave }}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ cliente.pais.descripcion }}</td>
            </tr>
        </tbody>
    </table>
</div>      
<table>
<tr>
<th>             
    <a class="btn btn-success" href="{{ path('cliente_edit', { 'id': cliente.id }) }}"><i class="fa fa-edit m-right-xs"></i>Editar</a>                       
</th> 
<th>
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
    {{ form_end(delete_form) }}
</th> 
<th>             
    <a href="{{ path('cliente_index') }}"><input type="button" class="btn btn-primary" value="Volver"></a>
</th>   
<tr> 
</table>    
{% endblock %}