{% extends 'base.html.twig' %}
{% block title %} Lista de Solicitudes {% endblock %}
{% block body %}
<h3 align="center"> Lista de Solicitudes  </h3>
<hr />
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <table id="datatable-fixed-header" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Solicitud</th>
                <th>Cliente</th>
                <th>Libro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitud in solicitudes %}
        <tr>
                <td><a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}">{{ solicitud.id }}</a></td>
                <td>{{ solicitud.cliente }}</td>
                <td>{{ solicitud.libro }}</td>
               <td>
                    <a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}">
                       <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver">  <i class="fa fa-eye"></i>  </button>
                    </a>
                    <a href="{{ path('solicitud_edit', { 'id': solicitud.id }) }}">
                       <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">  <i class="fa fa-pencil"></i>  </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('solicitud_new') }}"><input type="button" class="btn btn-primary" value="Crear Solicitud"></a>
{% endblock %}