{% extends 'base.html.twig' %}
{% block title %} Lista de Usuario {% endblock %}
{% block body %}
<h3 align="center"> Lista de Usuarios  </h3>
<hr />
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <table id="datatable-fixed-header" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Usuario</th>
                <th>Clave</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario.clave }}</td>
          <td>
                    <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">
                       <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver">  <i class="fa fa-eye"></i>  </button>
                    </a>
                    <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">
                       <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">  <i class="fa fa-pencil"></i>  </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('usuario_new') }}"><input type="button" class="btn btn-primary" value="Crear  Usuario"></a>
{% endblock %}
