{% extends 'base.html.twig' %}
{% block title %} Editar Usuario {% endblock %}
{% block body %}
<h3 align="center"> Modificar Categorias  </h3>
<hr />
<div class="x_content">
        <br />
        {{ form_start(edit_form, { 'attr': {'id':'categoria','class': 'form-horizontal form-label-left'} }) }} 
        {{ form_errors(edit_form) }}

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descripcion">{{ form_label(edit_form.descripcion) }} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_errors(edit_form.descripcion) }}                
                {{form_widget(edit_form.descripcion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}                
            </div>
        </div>
    </div>
<table>
<tr>
<th>             
    <button type="submit" class="btn btn-success">Modificar</button>     
    {{ form_end(edit_form) }}                  
</th> 
<th>
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </button>
    {{ form_end(delete_form) }}
</th> 
<th>             
    <a href="{{ path('categoria_index') }}"><input type="button" class="btn btn-primary" value="Volver"></a>
</th>   
<tr> 
</table>  
{% endblock %}
