{% extends 'base.html.twig' %}
{% block title %} Lista de Colecciones {% endblock %}
{% block body %}
{% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert">
            <div class="container"> {{ flashMessage }} </div>
        </div>
    {% endfor %}
<h3 align="center"> Lista de Colecciones  </h3>
<hr />
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    Total registros: {{ pagination.getTotalItemCount }}
    <table id="datatable-fixed-header" class="table table-striped table-bordered">
        <thead>
            <tr>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id'|trans,'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Categoria'|trans,'u.categoria') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Colecciones'|trans,'u.colecciones') }}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for coleccion in pagination %} 
            <tr>
                <td><a href="{{ path('coleccion_show', { 'id': coleccion.id }) }}">{{ coleccion.id }}</a></td>
                 <td>{{ coleccion.categoria.descripcion }}</td>
                <td>{{ coleccion.descripcion }}</td>
               <td>
                    <a href="{{ path('coleccion_show', { 'id': coleccion.id }) }}" class="btn btn-sm btn-info">Ver</a>
                    <a href="{{ path('coleccion_edit', { 'id': coleccion.id }) }}" class="btn btn-sm btn-success">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('coleccion_new') }}"><input type="button" class="btn btn-primary" value="Crear Colección"></a>
{# navegador de paginas#}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
{% endblock %}
